
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Merriweather&family=Roboto:wght@300;400;700;900&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

html{
    background-color:slategray;
    font-size: 125%;
    margin:0;
    padding:0;

}

.App{
    width:90%;
    margin:0 auto;
}

header{
    height:100%;
    width:100%;
    background-color: rgb(255, 205, 89);
    text-align: center;
    border:solid 1px black;
    filter: drop-shadow(0 0 2px black);

}

.mainWrapper{
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height:100vh;
    height:100%;
}

h1{
    font-size:3.5rem;
    color:rgb(7, 71, 136);
    
}

header h2{
    color:black;
    margin-bottom: 1rem;
}


a{
    text-decoration: none;
    color:rgb(251, 194, 94);
}


/* ====================MAIN BODY CONTENT====================== */
.contentDisplay .mainContent{
    padding-top:1rem;
    font-size:1.2rem;
    text-align: justify;
    text-justify: auto;
}

.contentDisplay .mainContent span{
    border-radius: 10px;
    font-weight: 600;
    padding:0 5px;
    color:rgb(7, 71, 136);
}

.mainYellow{
    background-color: rgb(255, 229, 169);
}

.mainGreen{
    background-color: rgb(151, 255, 173);
}

.mainRed{
    background-color: rgb(255, 97, 97);
}

.mainOrange{
    background-color: rgb(240, 175, 77);
}


/* ===================NAV BUTTONS======================= */

.navButtons{
    background-color: rgb(7, 71, 136);
    width:250px;
    min-height:500px;
    filter: drop-shadow(0 0 2px black);
}

.navButtons ul{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding:0;
    margin:0;
}

/* This is so frustrating, I wish I didn't have to have built this class but I planned poorly and here we are */
.buttonKeyHolder{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.navButtons ul button{
    width:90%;
    min-height:30px;
    max-height:100%;
    padding:0;
    margin: 7px 0 0 0;
    border:none;
    color:rgb(7, 71, 136);
    background-color: rgb(255, 229, 169);
    font-size: 1rem;
    font-weight: 600;
    transition: all ease 0.15s;
}

.navButtons ul button:hover,
.navButtons ul button:focus{
    filter: drop-shadow(0 0 5px black);
    background-color: rgb(126, 183, 248);
    color:black;
    width:100%;
    padding-left:5%;
    padding-right:5%;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.navButtons ul .buttonReturnToMain{
    width:100%;
    color: rgb(7, 71, 136);
    background-color: rgb(151, 255, 173);
    border-top: solid 4px rgb(58, 136, 64);
    border-bottom: solid 4px rgb(58, 136, 64);
}
.navButtons ul .buttonViewRandom{
    width:100%;
    color: rgb(7, 71, 136);
    background-color: rgb(240, 175, 77);
    border-top: solid 4px rgb(172, 92, 1);
    border-bottom: solid 4px rgb(172, 92, 1);
}

.navButtons ul .buttonCreateNew{
    width:100%;
    color: rgb(7, 71, 136);
    background-color: rgb(255, 97, 97);
    border-top: solid 4px red;
    border-bottom: solid 4px red;
}

/* ===================MAIN CONTENT AREA=================== */
.contentDisplay{
    margin-top:10px;
    padding-bottom: 2rem;
    width:80%;
    position: relative;
}

.mainAnchorMySite{
    display:flex;
    flex-direction: column;
    width:300px;
    background-color: rgb(61, 72, 98);
    padding:10px;
    border-radius: 10px;
    margin-top:10px;
    color:rgb(251, 194, 94);
    font-weight: 600;
}
.mainAnchorMySite:hover,
.mainAnchorMySite img:hover{
    color:white;
    filter: drop-shadow(0 0 5px rgb(251, 194, 94));
    transition: ease all 0.2s;
}

.mainAnchorMySite img{
    width:100%;
}

strong{
    font-weight:600;
}
em{
    font-style: italic;
}

/* ===================CREATE BLOG CONTAINER TITLES=================== */

.blogCreateContainer h2,
.blogCreateContainer h3{
    text-align: left;
    /* padding-left: 10%; */

}

.blogCreateContainer h2{
    padding-top:1rem;
    font-size:2rem;
    color:black;
}

.blogCreateContainer h3{
    color:black;
    font-variant: small-caps;
}
/* span for title */
.blogCreateContainer .blogTitle{
    color:rgb(7, 71, 136);
    filter: drop-shadow(0 0 5px rgb(255, 229, 169));
}

.blogCreateContainer .createBlogForm{
    display:flex;
    flex-direction: column;
    /* align-items: center; */
}
/* ===================NEW BLOG GROUPING=================== */
.blogCreateContainer .createBlogForm .blogTitleGroup{
    width:80%;
    display:flex;
    flex-direction: row;
}
.blogCreateContainer .createBlogForm .blogTitleLabel{
    font-size:2rem;
    width:25%;
    min-width: 175px;
}
.blogCreateContainer .createBlogForm .blogTitleInput{
    width:75%;
    height:60px;
    font-size:2rem;
}
/* ===================TITLE BLOG GROUPING=================== */
.blogCreateContainer .titleAndContentContainer{
    width:80%;
    display: flex;
    flex-direction: column;
}
/* ====================================== */

.blogCreateContainer .createBlogForm .postTitleGroup,
.blogCreateContainer .createBlogForm .postContentGroup{
    display: flex;
    flex-direction: column;
}

.blogCreateContainer .createBlogForm .postTitleLabel,
.blogCreateContainer .createBlogForm .postContentLabel{
    font-size:1.5rem;
    padding: 0.25rem 1rem;
}
.blogCreateContainer .createBlogForm .postTitleInput,
.blogCreateContainer .createBlogForm .postContentInput{
    width:100%;
    padding:0.5rem;
}
.blogCreateContainer .createBlogForm .blogTitleInput,
.blogCreateContainer .createBlogForm .postTitleInput,
.blogCreateContainer .createBlogForm .postContentInput{
    font-family: 'Arvo', serif;
    background-color:rgb(255, 229, 169);
    border: solid 2px rgb(7, 71, 136);
    filter: drop-shadow(0 0 3px rgb(7, 71, 136));
}

.blogCreateContainer .createBlogForm .postTitleInput{
    height:1.5rem;
    font-size:1.5rem;
}

.blogCreateContainer .createBlogForm .postContentInput{
    height:10rem;
    font-size:1rem;
    resize: none;
}

.createBlogForm button
{
    margin-right:20%;
    align-self: flex-end;
}
.createBlogForm button,
.postMade button{
    position:relative;
    right:0;
    border-style: none;
    width: 14rem;
    height: 3rem;
    margin-top:1rem;
    color: rgb(7, 71, 136);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    filter: drop-shadow(0 0 5px rgb(7, 71, 136));
    background-color: rgb(255, 205, 89);
    transition: all ease 0.2s;
}
.createBlogForm button:hover,
.createBlogForm button:focus{
    position: relative;
    right: -0.5rem;
    width: 15rem;
    background-color: rgb(255, 97, 97);
}
/* ====================================== */

.postMade{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.postMade p{
    text-align: center;
    font-size: 3rem;
    color:rgb(255, 205, 89);
    filter: drop-shadow(0 0 5px rgb(7, 71, 136));
}

.postMade button:hover,
.postMade button:focus{
    width: 15rem;
    background-color: rgb(255, 97, 97);
}




/* ====================================== */
/* =================CONTENT CONTAINING DIV===================== */

.contentDisplay .blogPostSection{
    width:80%;
    font-size: 3rem;
    margin:1rem 0;
    padding:0 0 0.5rem 1rem;
    font-variant:small-caps;
    color:rgb(255, 229, 169);
    border-bottom: 5px solid rgb(7, 71, 136);
    border-top: 5px solid rgb(7, 71, 136);
    filter: drop-shadow(0 0 5px rgb(7, 71, 136));
}

.contentDisplay .blogPostContainer{
    background-color: rgb(126, 183, 248);
    padding:1rem;
    margin:1rem 2rem 0 0;
    border-radius: 1rem;
    filter: drop-shadow(0 0 5px rgb(7, 71, 136));
}

.contentDisplay .blogPostContainer .blogPostHeader{
    max-width:80%;
    font-family: 'Merriweather', serif;
    word-wrap: break-word;
    color:rgb(7, 71, 136);
    font-size:2rem;
    text-decoration: underline;
}

.contentDisplay .blogPostContainer .blogPostTimestamp{
    word-wrap: break-word;
    font-size: 1rem;
    color:rgb(7, 71, 136);
    font-variant:small-caps;
    padding-bottom: 1rem;
}
.contentDisplay .blogPostContainer .blogPostContent{
    font-family: 'Arvo', serif;
    font-size: 1.2rem;
    word-wrap: break-word;
    text-align: justify;
    text-justify: auto;
}




/* ====================================== */
/* =================DELETE BUTTON STYLING (Buttonbox) COMPONENT===================== */
.contentDisplay .deletePostBox{
    position: absolute;
    top:10px;
    right:5px;
    display:flex;
    flex-direction: row;
    align-items: center;    
}

.contentDisplay .deletePostBox button{
    transition: ease all 0.2s;
    text-transform: uppercase;
    padding:5px;
    text-align: center;
    border-radius: 0rem;
    border:solid 2px rgb(7, 71, 136);
    color:rgb(7, 71, 136);
    background-color: rgb(126, 183, 248);
    filter: drop-shadow(0 0 2px rgb(7, 71, 136));
    font-weight:600;
}
.contentDisplay .deletePostBox button:hover{
    background-color: rgb(255, 97, 97);
    filter: drop-shadow(0 0 2px red);
}

.contentDisplay .deletePostBox .fullbutton{
    border-top-right-radius: 0.5rem; 
}

.contentDisplay .deletePostBox .fullbutton:hover{
    border-radius: 1rem;
    border-top-right-radius: 1rem;
}

.contentDisplay .deletePostBox p{
    font-size:0.8rem;
    font-variant: small-caps;
    margin-right: 10px;
    font-weight:600;
}

.contentDisplay .deletePostBox .smallbutton{
    margin-right:5px;
    width: 40px;
}

/* ====================================== */
.contentDisplay .deleteWholeBlogBox{
    position: absolute;
    top: 0px;
    right:20%;
    display:flex;
    flex-direction: row;
    align-items: center;    
    background-color: rgb(126, 183, 248);
    border: solid 3px rgb(7, 71, 136); 
    filter: drop-shadow(0 0 2px rgb(7, 71, 136));
}

.contentDisplay .deleteWholeBlogBox button{
    transition: ease all 0.2s;
    text-transform: uppercase;
    padding:10px;
    text-align: center;
    border-radius: 0rem;
    border:none;
    color:rgb(7, 71, 136);
    background-color: rgb(126, 183, 248);
    font-weight:600;
}

.contentDisplay .deleteWholeBlogBox button:hover{
    background-color: rgb(255, 97, 97);
    filter: drop-shadow(0 0 2px red);
}

.contentDisplay .deleteWholeBlogBox p{
    font-size:0.8rem;
    font-variant: small-caps;
    margin-right: 10px;
    margin-left:10px;
    font-weight:600;
}

/* =================DELETE BUTTON STYLING (Buttonbox) COMPONENT===================== */    
/* ====================================== */





/* =======================FOOTER STYLING===================================== */

footer{
    background-color: rgb(0, 0, 0);
}

footer p{
    color: rgb(255, 205, 89);
    font-size: 1rem;
    text-align: center;
    margin-top: auto;
}


/* 
It's very late the night before this is due, and I've done my best to style things "acceptably", but responsiveness will not get done """properly""" tonight.

In the 5 minutes I'm giving this part of the project, this is ... ugh, -servicable-, though I'm ashamed to even call it that.
*/
@media (max-width:900px){

    .contentDisplay{
        width:100%;
    }
    .navButtons{
        width:100%;
        height:100%;
        min-height: 0px;
        display:flex;
        flex-direction: column;
        /* align-items: center; */
    }

    .mainWrapper{
        margin:0 auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        min-height:100vh;
        height:100%;
    }

    .navButtons ul{
        height:100%;
        display:flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        padding:0;
        margin:0 auto;
    }
    
    .navButtons ul .buttonKeyHolder{
        width:30%;
        margin:0.25rem;
        margin-left: 2%;

    }

    .navButtons ul button{
        width:100%;
    }

}