
*{
    margin:0;
    padding:0;
}

html{
    background-color:slategray;
    font-size: 125%;
    margin:0;
    padding:0;
}

.App{
    width:90%;
    margin:0 auto;
    /* display: flex;
    flex-direction: column; */
}

.wrapper{
    /* width:90%;
    margin:0 auto; */
}

header{
    width:100%;
    background-color: rgb(255, 205, 89);
    text-align: center;
    border:solid 1px black;
}

h1{
    color:rgb(7, 71, 136);
}


.mainWrapper{
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height:100vh;
    height:100%;
}

.navButtons{
    background-color: rgb(7, 71, 136);
    width:250px;
    min-height:500px;
    /* border: solid 1px black; */
}

.navButtons ul{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding:0;
    margin:0;
}

.navButtons ul button{
    width:90%;
    min-height:30px;
    max-height:100%;
    padding:0;
    margin: 5px 0 0 0;
    border:none;
    color:rgb(7, 71, 136);
    background-color: rgb(255, 229, 169);
    font-size: 1rem;
    font-weight: 600;
}
.navButtons ul .createNewBlogButton{
    width:100%;
    color: rgb(7, 71, 136);
    background-color: rgb(255, 97, 97);
    border-top: solid 4px red;
    border-bottom: solid 4px red;
}

/* ===================MAIN CONTENT AREA=================== */
.contentDisplay{
    /* padding-top: 2rem; */
    padding-bottom: 2rem;
    width:80%;
    /* display:flex; */
    /* flex-direction: column; */
}

/* ===================CREATE BLOG CONTAINER TITLES=================== */
.blogCreateContainer h2,
.blogCreateContainer h3{
    text-align: center;
    padding-bottom: 2rem;
    /* color: red; */

}
.blogCreateContainer .createBlogForm{
    display:flex;
    flex-direction: column;
    align-items: center;
}
/* ===================NEW BLOG GROUPING=================== */
.blogCreateContainer .createBlogForm .blogTitleGroup{
    width:80%;
    display:flex;
    flex-direction: row;
    /* justify-content: center; */
}
.blogCreateContainer .createBlogForm .blogTitleLabel{
    font-size:2rem;
    width:25%;
    min-width: 175px;
}
.blogCreateContainer .createBlogForm .blogTitleInput{
    width:75%;
    height:60px;
    font-size:2rem;
}
/* ===================TITLE BLOG GROUPING=================== */
.blogCreateContainer .titleAndContentContainer{
    width:80%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
}
/* ====================================== */

.blogCreateContainer .createBlogForm .postTitleGroup,
.blogCreateContainer .createBlogForm .postContentGroup{
    display: flex;
    flex-direction: column;
}
.blogCreateContainer .createBlogForm .postTitleLabel,
.blogCreateContainer .createBlogForm .postContentLabel{
    font-size:1.5rem;
}

.blogCreateContainer .createBlogForm .postTitleInput{
    width:100%;
    height:1.5rem;
    font-size:1.5rem
}

.blogCreateContainer .createBlogForm .postContentInput{
    width:100%;
    height:10rem;
    font-size:1rem;
    resize: none;

    /* white-space: break-spaces; */
    /* white-space: ; */
}

.createBlogForm button{
    border-style: none;
    width: 14rem;
    height: 3rem;
    margin-top:1rem;
    margin-right:10%;
    align-self: flex-end;
    background-color: rgb(255, 205, 89);
    color: rgb(7, 71, 136);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* ====================================== */

/* =================CONTENT CONTAINING DIV===================== */

.contentDisplay .blogPostSection{
    width:80%;
    font-size: 3rem;
    /* text-align: center; */
    margin:1rem 0;
    padding-bottom:10px;
    font-variant:small-caps;
    color:rgb(255, 229, 169);
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

.contentDisplay .blogPostContainer{
    background-color: rgb(126, 183, 248);
    padding:1rem;
    margin:0 2rem 1rem 0;
    border-radius: 1rem;
}

.contentDisplay .blogPostContainer .blogPostHeader{
    color:rgb(7, 71, 136);
    font-size:2rem
}

.contentDisplay .blogPostContainer .blogPostTimestamp{
    font-size: 1rem;
    color:rgb(7, 71, 136);
    font-variant:small-caps;
    padding-bottom: 1rem;
}
.contentDisplay .blogPostContainer .blogPostContent{
    font-size: 1.2rem;
}




footer{
    background-color: rgb(0, 0, 0);
}

footer p{
    color: rgb(255, 205, 89);
    font-size: 1rem;
    text-align: center;
    margin-top: auto;
}