body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainWrapper{
    margin:0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navButtons{
    width:250px;
    /* height:100vh; */
    height:300px;
    border: solid 1px black;
}

.navButtons ul{
    height:100%;
    display:flex;
    flex-direction: column;
    list-style: none;
    padding:5px;
    margin:0;
}

.navButtons ul button{
    width:100%;
}
.navButtons ul .createNewBlogButton{
    /* align-self: flex-end; */
    /* align-self: flex-end; */
    margin-top: auto;
    width:100%;
}

header{
    text-align: center;
    border:solid 1px black;
}